/uploads
/processed_uploads
/outputs
/live_transcripts
/live_transcripts_audio
/live_recorded_meet_audio
/voice_samples
realtimesst.log
compare.txt
testing_functions.py
/__pycache__
.env
meeting_index.faiss
metadata.pkl